body{
    background-color: #333;
}

.to-do-list{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
    color: #e2b714;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: #d1d0c5;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.1s ease-in-out;
    margin: 0 10px;
}

.add-btn{
    background-color: #2c2e31;
}

.add-btn:hover{
    background-color: #d1d0c5;
    color: #333;
}


.edit-btn{
    background-color: #2c2e31;
}

.edit-btn:hover{
    background-color: #d1d0c5;
    color: #333;
}

.delete-btn{
    background-color: #2c2e31;
}

.delete-btn:hover{
    background-color: #d1d0c5;
    color: #333;

}

input {
    background-color: #333;
    border: 3px solid #1f2021;
}
input:focus {
    background-color: #2c2e31;
    border: 3px solid #333;
}

input[type = 'text']{
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 5px;
    color: gray;
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: #2c2e31;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #d1d0c5;
}

.text{
    flex: 1;
}